
*{
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.8),#009799);
    margin-left: 202px;
    margin-top: 200px;
}

.edit{
    width: 396px;
    height: 48px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    padding-top: 15px;
    text-decoration: none;
    margin-left: 71px;
}
a:hover {
    background-image: linear-gradient(to right, #85AFA9, #85AFA9, #85AFA9);
}
.paragraph{
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 10px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}



.img img{
    width: 429px;
    margin-top: -1006px;
    margin-left: 340px;
}
