*{
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.8),#009799);
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}



.img img{
    width: 429px;
}

.form1{
	width: 260px;
    height: 150px;
    position: absolute;
    margin-top: 20px;
}
.form2{
	width: 260px;
    height: 150px;
    position: absolute;
    margin-top: 20px;
}


.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #85AFA9, #85AFA9, #85AFA9);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    padding-top: 15px;
    margin-left: 48px;
}
#file::-webkit-file-upload-button{
    visibility: hidden;
}
#file{
    width: 396px;
    height: 48px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    padding-top: 8px;
    cursor: pointer;
}

.btn2{
	display: block;
	width: 70%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #85AFA9, #85AFA9, #85AFA9);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    padding-top: 15px;
    margin-left: 110px;
    margin-top: -23px;
}
.show_files{
    display: list-item;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    padding-top: 8px;
    cursor: pointer;
    width: 396px;
    height: 48px;
    text-align: center;
}
.file-link{
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
}
